


body{
  background-color: gray;
  background-position: center;
  font-family: 'times new roman';
  font size: 20px;
  text-align: center;
  width: auto;
  padding 2px;
  margin: 0 auto;
  background-size; cover;
}

h1{
  color:red;
  font-family: courier new;
  font-size: 15px;
  font-style: normal;
}

nav{
  background color: black;
}
a: hover {
  background-color: purple;
}
  
li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}
